.chartSettingBoard {
    margin: 30px;
}
.chartSettingBoard    .leftBox {
        width: 100%;
        height: 230px;
        background-color: #fafafa;
        border-radius: 4px;
        margin-top: 10px;
        padding: 10px;
        border: solid 1px #f0f0f0;
    }
.chartSettingBoard    .icon {
        float: right;
        padding: 0 5px;
        cursor: pointer;
        line-height: 32px
    }

    .chartSettingBoard   .chartTypeSelect     .ant-select-selection--single {
            height: 50px;
        }
     .chartSettingBoard   .chartTypeSelect      .charIconBox {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 10px;
            left: 0;
            display: block !important;
            font-size: 20px;
            color: #fff;
            border-radius: 3px;
            padding: 3px 5px;
            background: #0099cc
        }
   .chartSettingBoard   .chartTypeSelect    .ant-select-selection__rendered {
            line-height: 23px;
            padding-left: 40px
        }
   .chartSettingBoard   .chartTypeSelect     p {
            margin: 0;
            display: block !important
        }
    
        .chartSettingBoard   .shortBox .configDropBox {
        height: 140px;
        margin-bottom: 10px;
    }
